* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font: 100% Times;
}

.container {
	background-color: blue;
	width: 80vmin;
	height: 80vmin;
	margin-left: calc(50vw - 40vmin);
	margin-top: calc(50vh - 40vmin);
	position: relative;
	float: left;
}

.square {
	position: absolute;
	width: 16vmin;
	height: 16vmin;
	background-color: red;
}

p {
	margin-top: calc(8vmin - 1em);
	text-align: center;
	font-weight: bold;
}
